* {
  box-sizing: border-box;
}

html {
  /* 스크롤 이동을 부드럽게 */
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}

/* 영문에만 적용할 폰트 */
.font-en {
  font-family: "Open Sans", sans-serif;

}

a {
  /* 밑줄 제거 */
  text-decoration: none;
  color: inherit;
}

.inner {
  /* 고정 길이 */
  /* width: 1200px; */
  /* 최대값만 제한 = 반응형 */
  max-width: 1200px;
  /* 가로 너비를 가진 블록 요소 가운데 정렬 */
  margin: 0 auto;
}
/* 이미지 block 처리를 공통 스타일로 적용 */
img {
  /* 이미지가 인라인 요소라서 발생하는 문자 기준선(Baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}
.title {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}
.title::after{
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #333;
  margin: 0 auto;
  margin-top: 20px;
}
/* 버튼과 같이 여러 곳에서 반복 사용되는 요소는 공통 스타일로 작업 */
.btn {
  display: block; /* a, span 같은 인라인 요소를 버튼으로 사용할 수 있으니 블록으로 지정*/
  width: 120px; /* 버튼마다 크기가 같아야 하면 고정 길이, 아니면 그냥 패딩만 주기 */
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn.btn--purple {
  color: #9b30ff;
  border-color: #9b30ff;
}
.btn.btn--purple:hover {
  color: #fff;
  background-color: #9b30ff;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}

.animate-flash {
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: 2s;
}

/* HEADER */
header {
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px rgba(204, 204, 204, 0.8);

  /* 고정된 헤더 만들기 */
  /* 부모 요소의 width 기준이 끊겨버리고, width를 지정하지 않으면 내용에 맞춰 최소한으로 축소됨 */
  /* 보통 상단 고정 헤더를 만들 때 width: 100%를 필수로 같이 씀 */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
header>.inner{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 40px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding: 10px 20px;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #9b30ff;
}
/* 가상 요소의 장점은 HTML 구조 추가와 class 속성 값의 추가 없이 구현 및 제어 가능 */
header nav ul li a::after {
  content: ""; /* 필수 속성 */
  display: block;
  width: 0; /* 초기에는 밑줄이 안보이도록 가로길이를 0으로 */
  height: 2px;
  background-color: #9b30ff;
  transition: 0.5s;
}

header nav ul li a:hover::after {
  width: 100%;
  /* 호버 시 밑줄이 완전히 나타나도록 100%로 설정 */
}

/* VISUAL */
.visual {
  /* (중요)
    헤더가 fixed 되어 일반 배치 흐름에서 벗어남(주변 요소들과 상호작용하지 않음)
    fixed 헤더 다음에 오는 섹션은 헤더의 높이만큼 외부 여백 추가 필요
   */
  margin-top: 60px;
  width: 100%;
  background-color: #000;
  color: #fff;
}
.visual > .inner {
  height: calc(100vh - 60px);
  font-size: 70px;
  display: flex;
  align-items: center;
}
.visual > .inner .purple {
  color: #9b30ff;
}

/* ABOUT */
.about {
  padding: 150px 0;
}
.about > .inner {
  position: relative;
}
.about .about_wrapper {
  display: flex;
  justify-content: space-between;
}
.about .about_wrapper .about_img{
  width: 40%;
}

.about .about_wrapper .about_text{
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about .about_wrapper .about_img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.about .about_wrapper .about_text .slogan {
  font-size: 35px;
  font-weight: bold;
}

.about .about_wrapper .about_text h3{
  font-size: 20px;
  font-weight: 600;
}

.about .about_wrapper .about_text h4{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.about .about_wrapper .about_text li {
  line-height: 1.8;
}

.about .about_btn {
  position: absolute;
  right: 30px;
  bottom: -30px;
}

/* .about .about_btn a{
  display: flex;
  align-items: center;
} */
/* flex를 쓰던가 아니면 아래와 같이 인라인 요소로 원복하고 vertical-align 사용 */

.about .about_btn img{
  width: 28px;
  display: inline;
  vertical-align: middle  ;
  margin-right: 10px;
}

/* SKILL */
.skill {
  padding: 150px 0;
  background-color: #000;
  color: #fff;
}
.skill .title::after{
  background-color: #fff;
}
.skill .skill_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}
/* 하위 선택자가 아닌 자식 선택자 쓴 것에 유의! */
.skill .skill_list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 애니메이션 효과 추가 */
  /* 방법1: position */
  /* position: relative;
  top: 100px; */
  /* 방법2: transform */
  transform: translateY(150px);
  transition: 1s;
  opacity: 0;
}
/* hover로 먼저 테스트 */
.show .skill_list > li {
  /* 방법1: position */
  /* top: 0; */
  /* 방법2: transform */
  transform: translateY(0);
  opacity: 1;
}

.show .skill_list > li:nth-child(1) {transition-delay: 0.2s;}
.show .skill_list > li:nth-child(2) {transition-delay: 0.4s;}
.show .skill_list > li:nth-child(3) {transition-delay: 0.6s;}
.show .skill_list > li:nth-child(4) {transition-delay: 0.8s;}
.show .skill_list > li:nth-child(5) {transition-delay: 1s;}

.skill .skill_list li h3 {
  width: 50px;
  height: 40px;
  background-color: #9b30ff;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2px;
  transform: rotate(-20deg);
  transition: 0.4s;
}

.skill .skill_list li:hover h3 {
  transform: rotate(0deg);
}

.skill .skill_list li h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 20px;
}

/* PROJECT */
.project {
  padding: 150px 0;
}
.project .port {
  display: flex;
  margin: 20px 0;
}
.project .port .port_img,
.project .port .port_text {
  width: 50%;
  height: 400px;
}

.project .port .port_img .swiper {
  width: 100%;
  height: 100%;
}
.project .port .port_img .swiper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project .port .port_text {
  padding: 30px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project .port .port_text h3 {
  font-size: 20px;
  font-weight: 800;
}

.project .port .port_text li {
  line-height: 1.8;
}
.project .port .port_text li span {
  font-weight: bold;
}

.project .port .btn-group {
  display: flex;
  column-gap: 40px;
}

/* MODAL */
#modal.show {
  display: flex;
}
#modal {
  /* quiz: 화면 전체 영역 덮기 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
  z-index: 99;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}

#modal .modal-content {
  background-color: #fff;
  border-radius: 8px;
  /* 고정 길이 */
  /* width: 800px; */
  /* 상대 길이 */
  width: 60%;
}

#modal .modal-header {
  padding: 16px;
  background-color: #222;
  color: #fff;
  border-radius: 8px 8px 0 0;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modal .modal-header .btn-close {
  font-size: 30px;
  cursor: pointer;
}

#modal .modal-header .btn-close:hover{
  color: #aaa;
}

#modal .modal-body {
  padding: 16px;
}
/* 애니메이션 정의는 맨 마지막에 */
@keyframes flash {
  0%, 50% ,100% {opacity: 1;}
  25%, 75% {opacity: 0;}
}
